{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block content %}

    <div class="container min-vh-100 d-flex justify-content-center">
        <div class="col-sm-10 ml-auto mr-auto">
            <!-- Title of the page -->
            <h1>History</h1>
            <table class="table table-info table-striped">
                <thead>
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Category</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Display the user input history -->
                    {% for entry in entries %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ entry.date.strftime("%m-%d-%y") }}</td>
                            <td>{{ entry.type }}</td>
                            <td>{{ entry.category }}</td>
                            <td>{{ entry.amount }}</td>
                            <!-- Enables user to delete entry -->
                            <td><a href="{{ url_for('delete', entry_id = entry.id) }}" class="btn btn-outline-danger btn-sm">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
